sources/.classpath
sources/.factorypath
sources/.project
sources/.settings/
sources/target/
sources/src/main/java/META-INF/
sources/src/main/resources/META-INF/
sources/.eclipse-pmd
sources/onesait-grid-gis
sources/src/main/resources/application-local.yml
.idea/modules.xml
.idea/onesait-grid-gis.iml
.idea/vcs.xml
.idea/workspace.xml
sources/.idea/.gitignore
sources/.idea/compiler.xml
sources/.idea/encodings.xml
sources/.idea/jarRepositories.xml
sources/.idea/misc.xml
sources/.idea/vcs.xml
.idea/misc.xml
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
